<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-559" />
<title>Nota Fiscal Eletronica</title>
</head>

<body style="font-family:Verdana, Geneva, sans-serif; font-size:13px;">
<table width="100%" border="0" cellpadding="5">
  <tr>
	<td><img src="http://www.softdib.com.br/imagens/logo1.png" height="100"></td>
	<td><img src="http://www.softdib.com.br/imagens/icone_nfe.jpg" height="100"></td>
  </tr>
</table>
<div style="padding-left:40px;">
	<p style="color:#999; font-size:25px;">Prezado Usu&aacute;rio</p>
	<p>Voc&ecirc; solicitou, atrav&eacute;s do Cadastro de Contribuinte do Sistema da Nota Fiscal Eletr&ocirc;nica, o teste de envio de e-mail.</p>
	<p>Esta mensagem autom&aacute;tica significa que houve sucesso nas credenciais de e-mail.</p>
	<p>N&atilde;o h&aacute; necessidade de responder este e-mail.</p>
</div>
</body>
</html>