
*.DS_Store

NF_V3/NF_V3_dados/config_cliente/*.ini

*.aux
*.pyc

NF_V3/NF_V3_cli_bkp

NF_V3/NF_V3_dados/temp/

NF_V3/NF_V3_dados/log\.txt

NF_V3/NF_V3/documentacao/tex/NV_V3\.log

NF_V3/NF_V3/documentacao/tex/NV_V3\.synctex\.gz
NF_V3/NF_V3_dados/log.txt
NF_V3/NF_V3/testes/
NF_V3/testes_nfe/

NF_V3/NF_V3/nodejs/

nfse/enviados/*
